<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name=".timeout.MyApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme"
        android:usesCleartextTraffic="false">
        <activity
            android:name=".activity.signup.ChooseLinkOrNewActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.main.exchange.ExchangeCreditReceiptActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.exchange.ExchangeDebitReceiptActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.exchange.ExchangeConfirmationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.exchange.ExchangeEstimateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.agent.common.UploadSenderDocumentsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.homepayandsend.SendViaYeelConfirmationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.receipt.credit.MobilePayCreditReceipt"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.agent.cashpickup.history.PaidCompletedDetailsCommonActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.receipt.debit.AgentMobilePayDebitReceiptActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.receipt.debit.AgentCashPickupDebitActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.receipt.debit.AgentSendViaYeelDebitReceipt"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.receipt.credit.AgentSendViaYeelCreditReceipt"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.cashout.CashOutConfirmationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.cashout.CashOutAmountEnteringActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.agent.cashpickup.AgentCashPickupConfirmationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.common.CountrySelectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.receipt.credit.EducationCreditDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.receipt.debit.EducationDebitDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.billpayments.BillConfirmationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.billpayments.internal.EducationDetailsConfirmActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.billpayments.internal.EducationInternalBillPaymentsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.billpayments.ProvidersListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.common.WebViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.receipt.debit.CashoutReciptActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.settings.individual.ViewIndividualDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.receipt.debit.MobilePaySendReceiptActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.signup.CurrencySelectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.agent.cashpickup.history.CashOutAgentReceiptActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.agent.cashpickup.history.CashOutReceiverDocActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.signup.personal.UploadPersonalDocumentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.signup.FirstTimeLanguageSelectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.receipt.debit.CashPickupUserReciptActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.agent.cashpickup.history.CashPickupAgentReceiptActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.agent.cashpickup.history.CashPickupReceiverDocActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.agent.cashpickup.history.PaidCompetedDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.agent.cashpickup.history.ToPayConfirmDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.mobilepay.MobilePayPaymentReceiptActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.agent.common.AddBeneficiaryDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.main.mobilepay.MobilePayConfirmationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.mobilepay.MobilePayMobileEnterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.agent.cashpickup.CashPickupSenderReceiverDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.agent.sendcash.SendViaYeelAgentSideConfirmationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.agent.sendcash.EnterAmountForSendViaYeelAgentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.cashpickup.CashPickupReceiptActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.cashpickup.CashPickupConfirmationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.cashpickup.CashPickupLocationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.cashpickup.CashPickupDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.agent.common.AddYeelUserDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.agent.sendcash.SenderReceiverDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.mobilepay.MobilePayEstimateActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.main.cashpickup.CashPickupBeneficiaryDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.ModeOfPaymentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.settings.AddNewCurrencyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.agent.addfund.BankSelectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.agent.addfund.AddFundsDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.agent.addfund.AddFundsHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.agent.addfund.AddFundsSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.agent.addfund.UploadBankRecieptActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.agent.addfund.AddFundsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.signup.provincesdistrictselection.DistrictSelectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.signup.provincesdistrictselection.ProvincesSelectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.homepayandsend.SendViaYeelActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.homepayandsend.InviteUserActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.search.TransactionSearchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login.WelcomeBackActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.settings.EditTaxIdActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.signup.TaxIdNumberActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.main.settings.kyc.ViewKYCDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.settings.kyc.ViewKYCImagesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.settings.agent.EditAgentInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.settings.agent.EditAgentAddressActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.settings.LegalDocumentPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.signup.agent.AgentAddressActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.signup.agent.BusinessAgentInformationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.signup.agent.IndividualAgentInformation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.signup.agent.AgentTypeSelectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.cashout.CashOutActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login.LoginOtpVerificationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.cashout.ScanCaptureActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.settings.individual.EditIndividualAddressActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.settings.individualagentaccount.ViewIndividualAgentDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.settings.businessaccount.EditBusinessAddressActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.settings.EditEmailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.main.settings.EditMobileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.main.settings.businessaccount.EditBusinessInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.settings.businessaccount.ViewBusinessDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.settings.sequrity.ResetPINActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.notification.NotificationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.receipt.credit.MoneyRecivedReceiptActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.receipt.debit.MoneySentReceiptActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.settings.GetHelpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.common.PINVerificationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.homepayandsend.ContactSearchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.homepayandsend.AmountEnteringActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.homepayandsend.MyContactListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.homepayandsend.MobileNumberEnteringActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />
        <activity
            android:name=".activity.main.homepayandsend.SmallCaptureActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.homepayandsend.ScanAndPayActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.cashout.WhatIsCashOutActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.payme.PayMeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.agent.addfund.AgentLocatorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.common.ProfileImageCropActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.settings.AboutYeelActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.settings.sequrity.SecuritySettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.settings.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login.ReturningUserActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login.ThudakkamActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.common.LanguageSelectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.signup.SignUpSuccessActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.common.ConfirmPINActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.common.CreatePINActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.signup.KYCDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.signup.personal.PersonalKYCUploadActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.signup.business.BusinessKYCUploadActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.signup.business.BusinessAddressActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.signup.business.BusinessInformationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.signup.personal.ResidenceDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.common.CommonEmailOTPVerificationActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.signup.EmailAddressActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.signup.personal.PersonalInformationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.signup.SelectAccountTypeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.common.CommonMobileOTPVerificationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.signup.MobileNumberEnterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.WelcomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MinnalActivity"
            android:exported="true"
            android:resizeableActivity="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.common.RectangleCropActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.common.SqureCropActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.common.ImageBrowse"
            android:exported="false"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_push_small" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:directBootAware="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".utils.MySMSBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.gms.auth.api.phone.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>